## Optimization #3 (Remove more columns, add more layers and rearrange)

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [2]:
application_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [3]:
application_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [4]:
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# For this optimization, I also dropped 'SPECIAL_CONSIDERATIONS' and 'Status' columns.
application_df = application_df.drop(['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS', 'STATUS'], axis = 1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [6]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T15', 'T29', 'T17']]
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1283        1
C2570        1
C2380        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
df1 = application_df[application_df.groupby("CLASSIFICATION")['CLASSIFICATION'].transform('size') > 1]
class_list = df1['CLASSIFICATION'].value_counts()
class_list

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1256        2
C1246        2
C1234        2
C1267        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count<1000].index)


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
application_df.dtypes

APPLICATION_TYPE    object
AFFILIATION         object
CLASSIFICATION      object
USE_CASE            object
ORGANIZATION        object
INCOME_AMT          object
ASK_AMT              int64
IS_SUCCESSFUL        int64
dtype: object

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(application_df, columns= 
                            ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
                            'USE_CASE', 'ORGANIZATION', 'INCOME_AMT'])

df_dummies

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [14]:
df_dummies.columns

Index(['ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M'],
      dtype='object')

In [15]:
# Split our preprocessed data into our features and target arrays
y = df_dummies['IS_SUCCESSFUL']
X = df_dummies.drop(['IS_SUCCESSFUL'], axis=1)
# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
X.shape

(34299, 40)

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=160, activation="sigmoid", input_dim=40))
# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=60, activation="sigmoid"))

nn_model.add(tf.keras.layers.Dense(units=20, activation="sigmoid"))


nn_model.add(tf.keras.layers.Dense(units=160, activation="relu"))

nn_model.add(tf.keras.layers.Dense(units=60, activation="relu"))

nn_model.add(tf.keras.layers.Dense(units=20, activation="relu"))



# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 160)               6560
_________________________________________________________________
dense_16 (Dense)             (None, 60)                9660
_________________________________________________________________
dense_17 (Dense)             (None, 20)                1220
_________________________________________________________________
dense_18 (Dense)             (None, 160)               3360
_________________________________________________________________
dense_19 (Dense)             (None, 60)                9660
_________________________________________________________________
dense_20 (Dense)             (None, 20)                1220
_________________________________________________________________
dense_21 (Dense)             (None, 1)                 21
=================================================================
Total params: 31,701
Trainable params: 31,701
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [31]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=60)

Epoch 1/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5976 - accuracy: 0.6952
Epoch 2/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5675 - accuracy: 0.7274
Epoch 3/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7285
Epoch 4/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5586 - accuracy: 0.7302
Epoch 5/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5574 - accuracy: 0.7290
Epoch 6/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7300
Epoch 7/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7301
Epoch 8/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7305
Epoch 9/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7304
Epoch 10/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7304
Epoch 11/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5526 - accuracy: 0.7306
Epoch 12/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7309: 0s - loss: 0.5536 - accura
Epoch 13/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.7308
Epoch 14/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.7310
Epoch 15/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7326
Epoch 16/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5505 - accuracy: 0.7319
Epoch 17/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.7318
Epoch 18/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5500 - accuracy: 0.7317
Epoch 19/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7315
Epoch 20/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7317
Epoch 21/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7321
Epoch 22/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7311
Epoch 23/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7321
Epoch 24/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7319
Epoch 25/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7326
Epoch 26/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7340
Epoch 27/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7322
Epoch 28/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7329
Epoch 29/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7325
Epoch 30/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7330
Epoch 31/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5443 - accuracy: 0.7338
Epoch 32/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7326
Epoch 33/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7337
Epoch 34/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5436 - accuracy: 0.7327
Epoch 35/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7338
Epoch 36/60
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7339
Epoch 37/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7333
Epoch 38/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7338
Epoch 39/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7335
Epoch 40/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7346
Epoch 41/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7346
Epoch 42/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7344
Epoch 43/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7342
Epoch 44/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7340
Epoch 45/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7342
Epoch 46/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7336
Epoch 47/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 48/60
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7354
Epoch 49/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7353
Epoch 50/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7350
Epoch 51/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7357
Epoch 52/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7357
Epoch 53/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7366
Epoch 54/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 55/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7359
Epoch 56/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7361
Epoch 57/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 58/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7358
Epoch 59/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7368
Epoch 60/60
804/804 [==============================] - 1s 1ms/step - loss: 0.5381 - accuracy: 0.7371

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5625 - accuracy: 0.7308
Loss: 0.5625478029251099, Accuracy: 0.7308454513549805

In [ ]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharity_2.h5")